{% style %}
  
{% endstyle %}

<section>

  
</section>




{% schema %}
  {
    "name": "Atoms Explore Section",
    "disabled_on": {
    "groups": ["header", "footer"]
  },
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "title"  
      }
      
    ],
    "presets": [
      {
        "name": "Atoms Explore Section"
      }
    ]
  }
{% endschema %}