{% style %}
  
{% endstyle %}

<section>

  
</section>




{% schema %}
  {
    "name": "Atoms Explore Section",
    "settings": [
      {

        "type": "header",
        "content": "title"
        
      }
      
    ],
    "presets": [
      {
        "name": "Atoms Explore Section"
      }
    ]
  }
{% endschema %}