


{% schema %}
  {
    "name": "Cronix banner",
    "settings": [
      {
        "type": "richtext",
        "id": "Heading",
        "label":"Heading",
        "default":"<p>ghhhh</p>"
      },
      
    ],
   "presets": [
     {
       "name": "Cronix baanner"
     }
   ]
  }
{% endschema %}