<section> 
<div class="banner"> {{ section.settings.heading }} </div>
<div class="caption"> {{ section.settings.heading }} </div>
  
</section>


{% schema %}
  {
    "name": "Cronix banner",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label":"Heading",
        "default":"<p>ghhhh</p>"
      },
      {
        "type": "text",
        "id": "caption",
        "label":"Caption",
        "default":"hjjj"
      },
      {
        "type": "text",
        "id": "button",
        "label":"Button",
        "default":"hjjj"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Link" 
      }
      
    ],
   "presets": [
     {
       "name": "Cronix baanner"
     }
   ]
  }
{% endschema %}