<section> 
<div class="banner"  > {{ section.settings.heading }} </div>
</section>


{% schema %}
  {
    "name": "Cronix banner",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label":"Heading",
        "default":"<p>ghhhh</p>"
      },
      {
        "type": "text",
        "id": "caption",
        "label":"Caption",
        "default":"hjjj"
      },
      
      
    ],
   "presets": [
     {
       "name": "Cronix baanner"
     }
   ]
  }
{% endschema %}