{% style %}
  
.richtext-wrapper{
  display: flex; /* Use flexbox to align items */
  justify-content: center; /* Centers the logos horizontally */
  align-items: center; /* Centers the logos vertically if needed */
}
  
 .logotext{
  max-width:975px;
  font-size:3rem;
  line-height:1;
  font:serif;
  font-weight:inherit;
}

.logo-container {
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Centers the logos horizontally */
    align-items: center; /* Centers the logos vertically if needed */
    gap: 20px; /* Space between the logos */
    padding: 20px 0; /* Optional padding for spacing around the logos */
    column-gap: 5rem;
  
}

.logo-item {
    flex: 0 1 auto; /* Ensures the logo items do not stretch */
}

.logo {
    max-height: 50px; /* Adjust logo height as needed */
    width: auto; /* Maintains aspect ratio */
}
  
{% endstyle %}

<section id="custom-section">
<div class="section-{{ section.id }}-padding">
<div class="richtext-wrapper"> 
<div class="logotext" style="text-align:center; opacity: 1; transform: none; font:serif;">{{ section.settings.title }}</div>
  </div>
 <div class= logo-container> 
{%  for block in section.blocks %}
  <div class="logo-item">
      {% if block.settings.logo %} 
     {{ block.settings.logo | image_url: height:25.6 | image_tag: class: 'logo' }}
      {% endif %}
  </div>
  {% endfor %}
 </div>

</div>  
</section>


{% schema %}
  {
    "name": "Image logo",
    "disabled_on": {
    "groups": ["header", "footer"]
  },
    "settings": [
      {
      "type": "richtext",
      "id": "title",
      "label": "Title"
      },
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 52
    }
    ],
    "blocks": [
       {
      "type": "block",
      "name": "Logo Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
      ]
    }
    ], 
    "presets": [
      {
        "name": "Image logo"
      }
    ]
  }
{% endschema %}