{% style %}
  
.richtext{
  max-width:975px;
  font-size:3rem;
  line-height:1;  
}

  
{% endstyle %}

<section id="custom-section">
<div class="section-{{ section.id }}-padding">
<div class="explore-wrapper"> 
<div class="richtext">{{ section.settings.title }}</div>
{%  for block in section.blocks %}
           <li class="benefits-item">
            {% if block.settings.logo %} 
            {{ block.settings.logo | image_url: width:80, height:80 | image_tag: class: 'logo' }}
             {% endif %}
           </li>
            {% endfor %}
 
</div>
</div>  
</section>


{% schema %}
  {
    "name": "Image logo",
    "disabled_on": {
    "groups": ["header", "footer"]
  },
    "settings": [
      {
      "type": "richtext",
      "id": "title",
      "label": "Title"
      },
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 52
    }
    ],
    "blocks": [
       {
      "type": "block",
      "name": "Logo Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
      ]
    }
    ], 
    "presets": [
      {
        "name": "Image logo"
      }
    ]
  }
{% endschema %}