


<div class= "details-wrapper">
<ul> 
  {% for block in section.blocks %}
  <li>
    <details>
      <summary>
        <h3>
          <span class="plus-ico">{% render 'plus-icon.liquid' %} </span>
          <span class="minus-ico">{% render 'minus-icon.liquid' %} </span>
        </h3>
      </summary>
    </details>
  </li> 
    {% endfor %}
</ul>  
</div>






{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}