


<div class= "innovation-wrapper">
<ul> 
  {% for block in section.blocks %}
  <li>
    <details>
      <summary>
        {{ block.settings.logo | image_url: width:40, height:40 | image_tag: class: 'logo' }}
        <h3>{{ block.settings.text_title }}</h3>
          <span class="plus-ico">{% render 'plus-icon.liquid' %} </span>
          <span class="minus-ico">{% render 'minus-icon.liquid' %} </span>
      </summary>
      {{ block.settings.text_content }}
    </details>
  </li> 
    {% endfor %}
</ul>  
</div>






{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}