<section>
  
</section>


{% schema %}
  {
    "name": "Input settings",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": true
      },
      {
        "type": "number",
        "id": "products_per_page",
        "label": "Products per page",
        "default": 20
      },

    ],

    "presets": [
    {
      "name": "Input settings",
    }
  ]
  }
{% endschema %}