<section>
  
</section>


{% schema %}
  {
    "name": "Input settings",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": true
      },
      {
        "type": "number",
        "id": "products_per_page",
        "label": "Products per page",
        "default": 20
      },
      {
        "type": "radio",
        "id": "logo_aligment",
        "label": "Logo alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "centered",
            "label": "Centered"
          }
        ],
        "default": "left"
      },

    ],

    "presets": [
    {
      "name": "Input settings",
    }
  ]
  }
{% endschema %}